.hover{
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
  color: #9d9d9d;
  font-size: 14px;
  font-weight: 600;
}
.hover::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    border-bottom: 3px solid #010101 ;
    bottom: 0;
}
.hover:hover:before{
    width: 100%;
    transition:  .5s linear ;

}